<!DOCTYPE html>
<html class="noIE" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
    <title>查询结果</title>

    <!-- meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- google fonts -->

    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}" media="screen"/>

    <!--[if lt IE 9]>
    <script th:src="@{/js/html5shiv.js}"></script>
    <script th:src="@{/js/respond.js}"></script>
    <![endif]-->

    <!--[if IE 8]>
    <script th:src="@{/js/selectivizr.js}"></script>
    <![endif]-->
</head>

<body>
<div id="drawer-right">
    <div class="cross text-right">
        <a class="toggleDrawer" href="#"><i class="fa fa-times-circle fa-2x"></i></a>
    </div>
    <h2>导航</h2>
    <nav>
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="#wrapper"><i class="fa fa-home"></i>  主页</a>
            </li>
            <li>
                <a href="#portfolio"><i class="fa fa-bookmark"></i>  联合</a>
            </li>
            <li>
                <a href="#services"><i class="fa fa-tasks"></i>  服务</a>
            </li>
            <li>
                <a href="#blog"><i class="fa fa-wordpress"></i>  博客</a>
            </li>
            <li>
                <a href="#testimonials"><i class="fa fa-thumbs-up"></i>  点赞</a>
            </li>
            <li>
                <a href="#contact"><i class="fa fa-phone-square"></i>  联系</a>
            </li>
        </ul>
    </nav>
    <div class="social">
        <h2>Stay Connected</h2>
        <ul>
            <!--<li><a href=""><i class="fa fa-facebook-square fa-3x"></i></a></li>-->
        </ul>
    </div>
</div><!-- #drawer-right -->


<div id="wrapper">
    <div id="header" class="content-block">
        <section class="top clearfix">
            <div class="pull-left">
                <h1><a class="logo" href="index.html">Flusk</a></h1>
            </div>
            <div class="pull-right">
                <a class="toggleDrawer" href="#"><i class="fa fa-bars fa-2x"></i></a>
            </div>
        </section>
    </div>
    <!-- header -->
</div><!--/#wrapper-->
<input type="search" class="form-control hj-control-white" id="subject" placeholder="在此处输入报错介绍">
<div class="hj-card">
    <div class="hj-fl-top">
        类型标签 ：
        <label class="checkbox-inline">
            <input type="checkbox" value="JAVA"> JAVA
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" value="Python"> Python
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" value="PHP"> PHP
        </label>
    </div>
    <div class="hj-fl-cent">
        使用框架 ：
        <label class="checkbox-inline">
            <input type="checkbox" value="option1"> Spring
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" value="option2"> ZoomKeepr
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" value="option3"> Hodoop
        </label>
    </div>
    <div class="hj-fl-bottom">
        SQL类型 ：
        <label class="checkbox-inline">
            <input type="checkbox" value="option1"> MySQL
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" value="option2"> Oracle
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" value="option3"> Redis
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" value="option3"> monggoDB
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" value="option3"> SQLite
        </label>
    </div>
</div>
<div class="hj-content">
    <div class="row">
        <div class="col-sm-3">
            <a href="#" class="recent-work " style="margin-top: 20px;background-image:url(@{/images/rain_1-320x240.jpg})">
                <span class="btn btn-o-white">Lorem Rocks</span>
            </a>
        </div>
        <div class="col-sm-6">
            <span href="#">
                <h2 class="content-text">Lorem Rocks</h2>
                <span class="content-text-sm">11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
                </span>
                </a>
            </span>
        </div>
        <div class="col-sm-3">
            <img class="content-right" th:src="@{/images/testimonial_11-190x190.jpg}"/>
            <div class="hj-user">
                <p style="font-weight:bold">王大离</p>
                <p>我在遥望，月亮之上</p>
                <p style="font-weight:bold">斗宗强者</p>
                <p class="btn btn-o">去Ta的主页</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="#" class="recent-work " style="background-image:url(@{/images/rain_1-320x240.jpg})">
                <span class="btn btn-o-white">Lorem Rocks</span>
            </a>
        </div>
        <div class="col-sm-6">
            <span href="#">
                <h2 class="content-text">Lorem Rocks</h2>
                <span class="content-text-sm">11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
                </span>
                </a>
            </span>
        </div>
        <div class="col-sm-3">
            <img class="content-right" th:src="/images/testimonial_11-190x190.jpg"/>
            <div class="hj-user">
                <p style="font-weight:bold">王大离</p>
                <p>我在遥望，月亮之上</p>
                <p style="font-weight:bold">斗宗强者</p>
                <p class="btn btn-o">去Ta的主页</p>
            </div>
        </div>
    </div>
</div>
<!--分类视图-->
<nav aria-label="Page navigation" style="text-align: -webkit-center;">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
    <!-- header -->
<script th:src="@{/js/jquery-2.1.3.min.js}"></script>
<script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.actual.min.js}"></script>
<script th:src="@{/js/jquery.scrollTo.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>
